<app-subheading
  [prompt]="view.name"
  matIcon="table_chart"
  [iconActions]="[
    {
      icon: 'arrow_back',
      toolTip: 'Return to My Views',
      routerLink: '/myviews'
    }
  ]"
></app-subheading>
<div class="page-container">
  <ng-container *ngIf="view.viewType == ViewType.table">
    <table mat-table [dataSource]="events$ | async" class="mat-elevation-z8">
      <ng-container matColumnDef="timestamp" sticky>
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let event">
          {{ event.timestamp.toDate().toLocaleString() }}
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let event">
          {{ event.value }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-container>
  <ng-container *ngIf="view.viewType == ViewType.line">
    <div class="chart-holder">
      <ngx-charts-line-chart
        *ngIf="showChart"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="chartData"
        [autoScale]="autoScale"
        #mychart
      >
      </ngx-charts-line-chart>
    </div>
  </ng-container>
  <ng-container *ngIf="view.viewType == ViewType.scatter">
    scatter

    <google-chart
      #chart
      [title]="gctitle"
      [type]="gctype"
      [data]="gcdata"
      [columnNames]="gccolumnNames"
      [options]="gcoptions"
      dynamicResize="true"
      class="gcchart"
    >
    </google-chart>
  </ng-container>
</div>
