<app-subheading
  [prompt]="view.name"
  matIcon="table_chart"
  [iconActions]="[
    {
      icon: 'arrow_back',
      toolTip: 'Return to My Views',
      routerLink: '/myviews'
    }
  ]"
></app-subheading>
<div class="page-container">
  <ng-container
    *ngIf="
      view.viewType == ViewType.line ||
      view.viewType == ViewType.scatter ||
      view.viewType == ViewType.table
    "
  >
    <google-chart
      *ngIf="showChart"
      #chart
      [type]="gctype"
      [data]="gcData"
      [columns]="gccolumns"
      [options]="gcoptions"
      dynamicResize="true"
      class="gcchart"
    >
    </google-chart>
  </ng-container>
</div>
