<app-subheading
  [prompt]="view.name"
  matIcon="table_chart"
  [iconActions]="[
    {
      icon: 'arrow_back',
      toolTip: 'Return to My Views',
      routerLink: '/myviews'
    }
  ]"
></app-subheading>
<div class="page-container">
  <mat-card style="min-width: 380px; margin-bottom: 10px">
    <google-chart
      *ngIf="showChart"
      #chart
      [type]="chartType"
      [data]="chartData"
      [columns]="chartColumns"
      [options]="chartOptions"
      dynamicResize="true"
      class="googleChart"
    >
    </google-chart>
  </mat-card>
  {{ view.description }}
</div>
