table {
  width: 100%;
  min-width: 340px;
}

.mat-column-value {
  text-align: right;
  justify-content: flex-end;
}

.chart-holder {
  min-height: 400px;
  width: 100%;
  margin-top: 10px;
}

.gcchart {
  width: 100%;
}
