<!-- Image carousel showing applications main functions -->
<img width="100%" src="../../assets/images/ourLora-splash.png" />

<!-- Cards with more information about application functions (align with carousel info) -->

<div class="card-container">
  <mat-card class="home-card">
    <mat-card-header class="card-header">
      <div mat-card-avatar class="card-1-image"></div>
      <mat-card-title>Code</mat-card-title>
      <mat-card-subtitle>Angular, firebase, PWA code base</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Tested code base
      </p>
      <li>Angular 9</li>
      <li>Firebase (Authentication, FireStore, Hosting, Rule and Functions</li>
      <li>Basic enterprise Authentication and Authorization)</li>
      <li>PWA - Progressive Web Application</li>
      <li>E2E - Cypress E2E test suite</li>
      <li>Online/Offline - Offline functionality implemented</li>
      <li>GitHub - https://github.com/somervda/ourLora</li>
    </mat-card-content>
  </mat-card>

  <mat-card class="home-card">
    <mat-card-header class="card-header">
      <div mat-card-avatar class="card-2-image"></div>
      <mat-card-title>Design</mat-card-title>
      <mat-card-subtitle
        >Material Design, SCSS and custom theming.</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <p>
        Material design based theming
      </p>
      <li>Material design components and interface</li>
      <li>SCSS - Custom material design theming implemented</li>
    </mat-card-content>
  </mat-card>
</div>
